{% extends 'hub.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}
<div class="contenu_jeu">

    <div class="classement">
        <div class="titre">
                <p>Pseudo</p>
                <p>Reputation</p>
        </div>
        <div class="joueurs">
        {% for joueur in Joueurs %}
            <div class="joueur">
                <p class="pseudo">{{ joueur.pseudo }}</p>
                <p class="reputation">{{ joueur.reputation }}</p>
            </div>
        {% else %}
                <p>En attente de classement</p>
        {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
