{% extends 'hub.twig' %}

{% block title %}
Bureau - Spéléonautes
{% endblock %}

{#
{% block stylesheets %}
<style>
pre{
        color:green;
        white-space:pre-wrap;
}
/*.total{
        height:100%;
        width:100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin:auto;
        padding: auto;
}*/
body{
       /* height:100%;
        width:100%;*/
        display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(20, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
        margin:auto;
        padding: auto;
        scrollbar-width: none;
}
.profil{
        /*height:20vh;
        width:80vh;*/
        grid-area: 1 / 1 / 4 / 9; 
        background-color:red;
}
.contenue1{
        height:70vh;
        /*width:80vh;*/
        overflow: hidden;
        grid-area: 4 / 1 / 18 / 9; 
        background-color:black;
}
.contenue2{
        height:100%;
        width:100%;
        overflow: auto;
        background-color:black;
        scrollbar-width: none;
}
.menu{
        /*height:20vh;
        width:80vh; */
        grid-area: 18 / 1 / 21 / 9;
        background-color:blue;

          display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: auto;
                align-content: space-around;
}
.liste{
        /*height:100vh;
        width:20vh;*/
        grid-area: 1 / 9 / 18 / 11;
        background-color:grey;
}
.sous_menu{
        /*height:100vh;
        width:20vh;*/
        grid-area: 18 / 9 / 21 / 11;
        background-color:pink;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width:100%;
  height:15vh;
}

.dropdown {
  position: relative;
  display: inline-block;
  width:100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  max-height:70vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow:auto;
  text-align:center;
  scrollbar-width: none;
}
.caché{
        overflow:hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.menu>a{
  flex: 0 0 auto;
  margin: auto;
  font-size:30px;
  color:red;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --menubox-height: 68vh;
  --list-heigth: 50px;
}

a {
  font-family: fantasy;
  text-decoration: none;
  color: hsl(0, 0%, 73%);
}

.menu-box {
  width: 100%;
  height: var(--menubox-height);
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top:1vh;
  background:transparent;
}

.menu-box::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    hsl(0 0% 100%) 0%,
    hsl(0 0% 0% / 0) 50%,
    hsl(0 0% 100%) 100%
  );
  background:transparent;
  z-index: 10;
  pointer-events: none;
}

.menu-list {
  width: 80%;
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  top: calc(var(--menubox-height) / 2 - var(--list-heigth) / 2);
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 0.3s ease-in-out;
}

.list {
  height: var(--list-heigth);
  position: relative;
  padding: 12px;
  transition: all 0.3s ease-in-out;
}

.list.active {
  color: hsl(0, 0%, 0%);
  font-size: 1.3rem;
}

</style>

{% endblock %}
#}

{#}
{% block javascripts %}
            <script>

document.addEventListener('DOMContentLoaded', function() {
  console.log('HTML prêt !');



const menuList = document.querySelector('.menu-list')
const atag = document.querySelectorAll(".list");
let curLen = 4; // Set index for active class
let len = atag.length;

// Add class 'active' to the 'home' when page loaded
atag[curLen].classList.add('active')
// Get the current fixed height of the list class
const heightActiveClass = atag[curLen].getBoundingClientRect().height
// Multuply current index element with fixed height
const startYPos = curLen * heightActiveClass
// Set result number in style
menuList.style.transform = `translate(-50%, -${startYPos}px)`


function activeMenu(event) {
  if (event.wheelDelta > 0) {
    if (curLen > 0) curLen--
      setActiveLinkWithArrows(atag)
  } else {
    if ((len - curLen) > 1) curLen++
      setActiveLinkWithArrows(atag)
  }
}

function setActiveLinkWithArrows(arr) {
  arr.forEach((el, idx) => {
    if (curLen === idx) {
      el.classList.add("active")
      // Multuply current index element with fixed height
      const yPos = idx * heightActiveClass
      // Set result number in style
      menuList.style.transform = `translate(-50%, -${yPos}px)`
      return
    }
    el.classList.remove("active")
  });
}
window.addEventListener('wheel', activeMenu);
            
      });      
            
            </script>

        {% endblock %}
#}




{% block body %}
<div class="contenu_jeu">

{#<div class="total">#}
<div class="profil"></div>
        <div class="contenue1">
        <div class="contenue2">
                {% for log in logs %}
                        {% for logu in log %}
                        <pre>{{ logu }}</pre>
                        {#<div class="pre">{{ logu }}</div>#}
                        {% endfor %}
                {% endfor %}
        </div>        
        </div>   
<div class="menu"><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a></div>
<div class="sous_menu">Coucou</div>
<div class="liste">
        <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                {#<div class="caché">
                        <div class="dropdown-content">
                                {% for idLog in idLogs %}
                                <a href="#">Link {{ idLog }}</a>
                                {% endfor %}
                        </div>      
                </div>#}
                <div class="menu-box">
  <div class="menu-list">
                                {% for idLog in idLogs %}
                                <a class="list" href="#">Link {{ idLog }}</a>
                                {% endfor %}
                        </div>
                        </div>
        </div>
</div>     
{#</div>#}
</div>
{% endblock %}