{% extends 'hub.twig' %}

{% block title %}Spéléonautes
{% endblock %}

{% block body %}
<div class="contenu_jeu">
    <h1>Vérifiez vos formations</h1>
    <p>Dans le menu de droite vous pouvez ajouter des hôtes à votre formation et en préciser l'emplacement et la stratégie. Ci-dessous vous pouvez enlever des hôtes de votre formation.</p>

	{% set i = 0 %}
    <div class="formations">
    {% for formation in tabformations %}
        <div class="formation">
        <h2>Formation : {{ formation.nom }}</h2>
                {% if formation.composition|length <5 %}
            <p>Il manque à cette formation {{ 5 - formation.composition|length }} hôte(s) !</p>
        {% endif %}

        <div class="hotes">
        {% for varcreature in formation.composition %}


            
            <div class="hote whiteBorder">
                <h3>{{ varcreature.nom }}</h3>
                <p>Location : 
                {% if varcreature.position is empty %}
                    <span class="manque_val">à préciser, par défaut : </span>
                {% endif %}
                {% if varcreature.position == 0 %} Devant {% endif %}
                {% if varcreature.position == 1 %} Milieu {% endif %}
                {% if varcreature.position == 2 %} Derrière {% endif %}
                </p>
                <p>Stratégie : 
                {% if varcreature.strategie is empty %}
                    <span class="manque_val">Par défaut</span>
                {% endif %}
                {{ varcreature.strategie }}</p>
                <a href="{{ path('app_formation_delete', {'formation': formation.id , 'creature' : varcreature.id}) }}">Enlever de la formation</a>
            </div>
        {% endfor %}
        </div>
        </div>
        {% set i = i + 1 %}
    {% endfor %}
	</div>
</div>
	{% endblock %}
