{% extends 'hub.twig' %}

{% block title %}Chevalement - Spéléonautes{% endblock %}

{% block body %}


<div class = "wrapper">
	<h1>Combat</h1>
	<section>
		{{ form(form) }}
	</section>
</div>


{% endblock %}
