{% extends 'hub.twig' %}

{% block title %}Chevalement - Spéléonautes{% endblock %}

{% block body %}

<div class="contenu_jeu">
	<h1>Envoyer une formation d'hôtes dans la Fosse</h1>
	<p>Hobb, le maître du chevalement, vous autorise à envoyer l'une de vos formations au niveau suivant : </p>
	<ul><li>Premiers mètres de la Fosse</li></ul>

	<section class="jeu_form">
		{{ form(form) }}
	</section>
</div>

{% endblock %}
