 {% block footer %}
<footer>
<a href="{{ path('app_mentions_legales') }}">Mentions legales</a>
<a href="{{ path('app_glossaire') }}">Glossaire</a>
<a href="{{ path('app_regles') }}">Regles</a>
<a href="{{ path('app_team') }}">Team</a>
</footer>
{% endblock %}
