    {% block menu %}
<div class="menuHub">
<a href="{{ path('app_chevalement') }}">Chevalement</a>
<a href="{{ path('app_formation') }}">Entrepôt</a>
<a href="{{ path('app_regles') }}">Regles</a>
<a href="{{ path('app_team') }}">Team</a>
</div>
{% endblock %}
