{% extends 'accueil.twig' %}


{% block title %}Demande de renouvellement de mot de passe envoyé - Spéléonautes{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre courriel existe, vous devriez y recevoir dans les prochains instants des instructions pour la procédure de changement de mot de passe.
        Ce lien expirera dans : {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu ce mail SVP vérifiez votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">veuillez réessayer</a>.</p>
{% endblock %}
