<h1>Changement de mot de passe</h1>

<p>Pour changer votre mot de passe SVP visitez ce lien :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Celui-ci ne sera plus valide dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Merci !</p>
