{% extends 'hub.twig' %}

{% block title %}Hello HotelVentesController!{% endblock %}

{% block body %}
<div class="contenu_jeu">
<h1>Hôtel des ventes</h1>
<h2>Vous pouvez ici acquérir de nouveaux hôtes</h2>






                {% if joueur.reputation > 100 %}

<section class="jeu_form">
		{{ form(HVform) }}
		
		{# read and display just one flash message type #}
		{% for message in app.flashes('notice') %}
		    <div class="whiteBorder flash-notice">
		        {{ message }}
		    </div>
		{% endfor %}
	</section>
{% else %}
<p>Vous n'avez pas assez de réputation pour accéder à la fonction achat.</p>
                {% endif %}









</div>






{% endblock %}
