{% extends 'hub.twig' %}

{% block title %}Hello HubController!{% endblock %}

{% block body %}

<div class="contenu_jeu">
<h1>Bienvenue dans votre Hub !</h1>
<p>Dans votre espace de jeu, vous avez accès, en haut, au menu général, et en bas aux quatre liens qui vous permettent de jouer à spéléonautes.</p>
<ol>
    <li><em>Chevalement : </em>envoyer vos formations à une mission dans la Fosse.</li>
    <li><em>Entrepôt : </em>vérifier vos hôtes (les créatures qui combattent pour vous), leurs statistiques, stratégies et actions.</li>
    <li><em>Formations : </em>composer vos formations (équipes d'hôtes), attribuer une stratégie et une localisation avant de les envoyer au combat.</li>
    <li><em>Bureau : </em>lire les logs de résultat des combats au retour de vos hôtes.</li>
    <li><em>Hôtel des ventes : </em>Gagner de nouveaux hôtes.</li>
</ol>


</div>

{% endblock %}
