{% extends 'hub.twig' %}

{% block title %}Hello HubController!{% endblock %}

{% block body %}

<div class="contenu_jeu">
Pseudo :{{ profil.pseudo}} - 
 Or :{{ profil.monnaie}} - 
 Reputation :{{ profil.reputation}}
</div>

{% endblock %}
