{% extends 'hub.twig' %}

{% block title %}Hello EntrepotController!{% endblock %}

{% block body %}
<div class="contenu_jeu">
<h1>Votre entrepôt</h1>
<h2>Liste et caractéristiques des hôtes disponibles</h2>
</div>

{% endblock %}
