/* 
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
*/
@use "./vars.scss";
@use "./mixins.scss";
@use './reset.scss';

body {
    margin: 0;
    padding: 0;

    #accueil_wrapper {
        display: grid;
        background-color: rgb(30, 32, 32);
        color: white;
        background-image: url("../images/BGAccueil.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        height: 100vh;
        width: 100vw;
        font-family: 'Work Sans', sans-serif;
    }

    #hub_wrapper {
        display: grid;
        grid-template-areas: 'zone_titre zone_titre zone_titre zone_titre liste'
            'zone_jeu zone_jeu zone_jeu zone_jeu liste'
            'menuHub menuHub menuHub menuHub menu_plus';
        background-color: rgb(30, 32, 32);
        color: white;
        background-image: url("../images/BGHUBSpeleo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        height: 100vh;
        width: 100vw;
        font-family: 'Work Sans', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Space Mono', monospace;
    }


    a {
        color: white;
    }
}

.zone_titre {
    display: flex;
    grid-area: zone_titre;
}

.zone_jeu {
    display: flex;
    grid-area: zone_jeu;
}

.menuHub {
    display: flex;
    grid-area: menuHub;

    a {
        display: flex;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: rgba(255, 255, 255, 0.73);
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.5rem;
        border-width: thick;
        border-image-source: url(../images/border-image_fer-forge.svg);
        border-image-slice: 82%;
        border-image-outset: 0.5rem;
        border-image-width: 12rem;
        border-image-repeat: round;


        img {
            max-width: 100%;
            height: auto;
        }
    }

}

.liste {
    display: flex;
    grid-area: liste;
}

.menu_plus {
    display: flex;
    grid-area: menu_plus;
}