{% extends 'base.html.twig' %}

{% block appWrapperdiv %}
  <main id="accueil_wrapper">
  {% include 'base/menuAccueil.twig' %}
{% endblock %}

{% block body %}{% endblock %}

{% block appWrapperclose %}
  {% include 'base/footer.html.twig' %}
  </main>
{% endblock %}