{% extends 'base.html.twig' %}

{% block appWrapperdiv %}
<div id="accueil_wrapper">
<div class="accueil_text_wrapper">
  {% include 'base/menuAccueil.twig' %}
  <main>
{% endblock %}

{% block body %}{% endblock %}

{% block appWrapperclose %}
  </main>
  {% include 'base/footer.html.twig' %}
  </div>
  </div>
{% endblock %}