{% extends 'base.html.twig' %}

{% block appWrapperdiv %}
  <div id="hub_wrapper">
  {% include 'base/menuHub.twig' %}
{% endblock %}

{% block body %}{% endblock %}

{% block appWrapperclose %}
  {% include 'base/footer.html.twig' %}
  </div>
{% endblock %}