{% extends 'base.html.twig' %}

{% block appWrapperdiv %}
  <main id="hub_wrapper">
  <div class="game_width">
  {% include "blocs_jeu/jeu_titre.twig" %}
  <div class="zone_jeu">
{% endblock %}

{% block body %}{% endblock %}

{% block appWrapperclose %}
  </div>
  {% include "blocs_jeu/jeu_menu_hub.twig" %}
  {% include "blocs_jeu/jeu_menu_listeur.twig" %}
  {% include "blocs_jeu/jeu_menu_plus.twig" %}
  </div>
  </main>
{% endblock %}